/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
     font-size: 16px; 
}
/* footer {

} */
/******************************************
/* fonts styles and additional colors
/*******************************************/
     h1,h2,h3,h4,h5,h6,p,button {
     font-family: 'Roboto', sans-serif;
}

.container__text{
     width: 60%;
     display: flex;
     flex-direction: column;
}

    .container__text h1 {
     font-size: 3rem;
     font-weight: 900;
     max-width: 80%;
     margin-left: 10%;
     color: white;
     
}
     .container__text p {
     font-size: 1.2rem;
     max-width: 80%;
     letter-spacing: 0.1rem;
     overflow: hidden;
     margin-left: 10%;
     color: white;
}

/******************************************
/* LAYOUT
/*******************************************/
.container{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     background-color: #23424A;
     padding: 2em 0 ;
}

.article__home{
     display: flex;
     margin: 0 auto;
     flex-direction: row;
     justify-content: space-between;
}

.article__text{
     margin: 5em 5em 0 0;
     background-color: #136C72;
     padding: 2em 1em;
}

.left__col{
     padding-left: 4em;
}

.img__header{
     padding-top: 3.2em;
     margin-right: 5rem;
}

.img__main{
     max-width: 100%;
}

.col + .col {
     padding-top: 2em;
}

.col {
    
     text-align: center;
     color: white;
}

.h2__lcol{
     padding-top: 3em;
     max-width: 90%;
}

.p__lcol{
     padding-top: 3em;
     max-width: 90%;
     letter-spacing: 0.1em;
     line-height: 1.3em;
}

.col h2 {
   font-size: 2.3em;
}

.col p {
     max-width: 80%;
     text-align: center;
     margin-left: 2em;
     line-height: 1.5em;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
     
button {
     padding: 0.9rem 2.5rem;
     margin: 2em 0 0 10%;
     background-color: #38CFD9;
     border-radius: 1.8rem;
     max-width: 40%;
}


     .btn:hover,
     .btn:focus {
     opacity: .75; 
     background: linear-gradient(30deg,white, #55dce5, white); 
 }


    a:hover{
     color: #541c71;
    }

a {
     font-size: 1rem;
     text-decoration: none;
     color: black;
     font-weight: bold;
}

.h2__lcol{
     color: #136C72;
     font-weight: 800;
     font-size: 2rem;
}
         
